.designs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Break Points for mob view*/
@media(max-width: 768px){
    .designs{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 480px){
    .designs{
        grid-template-columns: 1fr;
    }
}